<p-card
  header="Angular interview"
  subheader="Sign in"
  [style]="{ 'min-width': '360px' }"
>
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label htmlFor="username">Username</label>
      <input
        pInputText
        id="username"
        [formControl]="signInForm.controls.username"
      />
      <ng-container *ngIf="signInForm.controls.username.dirty">
        <small
          class="p-error block"
          *ngIf="signInForm.controls.username.hasError('required')"
          >Username is required
        </small>
      </ng-container>
    </div>

    <div class="field">
      <label htmlFor="password">Password</label>
      <p-password
        [formControl]="signInForm.controls.password"
        [feedback]="false"
      ></p-password>
      <ng-container *ngIf="signInForm.controls.password.dirty">
        <small
          class="p-error block"
          *ngIf="signInForm.controls.password.hasError('required')"
          >Password is required
        </small>
      </ng-container>
    </div>

    <p-messages
      [(value)]="validationMessages"
      [enableService]="false"
      [closable]="false"
    ></p-messages>

    <p-button type="submit" label="Login" icon="pi pi-check"></p-button>
  </form>
</p-card>
