<p-toast></p-toast>
<p-card header="Create new product" [style]="{ width: '360px' }">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label htmlFor="productName">Product name</label>
      <input
        pInputText
        id="productName"
        [formControl]="productForm.controls.productName"
      />
      <ng-container *ngIf="productForm.controls.productName.dirty">
        <small
          class="p-error block"
          *ngIf="
            productForm.controls.productName.getError('maxlength') as error
          "
          >Max length is {{ error.requiredLength }}
        </small>
        <small
          class="p-error block"
          *ngIf="productForm.controls.productName.hasError('required')"
          >Product name is required
        </small>
      </ng-container>
    </div>

    <div class="field">
      <label htmlFor="productId">Product ID</label>
      <p-inputMask
        inputId="productId"
        mask="9999999999999"
        [formControl]="productForm.controls.productId"
        [autoClear]="false"
        placeholder="0000000000000"
      ></p-inputMask>
      <ng-container *ngIf="productForm.controls.productId.dirty">
        <small
          class="p-error block"
          *ngIf="productForm.controls.productId.hasError('pattern')"
          >Product ID should be 13 digits
        </small>
        <small
          class="p-error block"
          *ngIf="productForm.controls.productId.hasError('required')"
          >Product ID is required
        </small>
      </ng-container>
    </div>

    <div class="field">
      <label htmlFor="productName">Product manager</label>
      <input
        pInputText
        id="productManager"
        [formControl]="productForm.controls.productManager"
      />
      <small
        class="p-error block"
        *ngIf="
          productForm.controls.productManager.getError('maxlength') as error
        "
        >Max length is {{ error.requiredLength }}
      </small>
    </div>

    <div class="field">
      <label htmlFor="productName">Sales start date</label>
      <p-calendar
        inputId="salesStartDate"
        [formControl]="productForm.controls.salesStartDate"
        class="block"
      ></p-calendar>
      <ng-container *ngIf="productForm.controls.salesStartDate.dirty">
        <small
          class="p-error block"
          *ngIf="productForm.controls.salesStartDate.hasError('required')"
          >Sales start date is required
        </small>
      </ng-container>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button
      (click)="onSubmit()"
      [disabled]="productForm.invalid"
      type="submit"
      label="Submit"
      icon="pi pi-check"
    ></p-button>
    <p-button
      (click)="productForm.reset()"
      label="clear"
      icon="pi pi-times"
      styleClass="p-button-secondary"
      [style]="{ 'margin-left': '.5em' }"
    ></p-button>
  </ng-template>
</p-card>
