:host{
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 2rem ;
}

form {
  display: grid;
  gap: 1rem;
  & > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
}

.p-inputtext, .p-calendar{
  width: 100%;
}
